.example-spacer {
  flex: 1 1 auto;
}

.logo {
  width: 100%;
  height: 60px;
  margin-top: 10px;
}

.themeIcon {
  margin: 0.5rem;
  cursor: pointer;

}

.container {
  max-width: 1200px;
  width: 100%;
  flex: 1;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .logo {
    height: 50px;
  }

  .taps {
    margin-left: 10px;
  }
}