<ng-container *ngIf="FormGroup">
  <app-select
    [label]="'Country'"
    [list]="countryList()"
    [Control]="getControl('country')"
    (change)="onCountrySelected($event)"
  ></app-select>
  <app-select
    *ngIf="cityList().length !== 0"
    [label]="'State'"
    [list]="cityList()"
    [Control]="getControl('state')"
    (change)="onStateSelected($event)"
  ></app-select>
  <app-select
    *ngIf="areaList().length !== 0"
    [label]="'City'"
    [list]="areaList()"
    [Control]="getControl('city')"
  ></app-select>
</ng-container>
<ng-container *ngIf="Control">
  <app-select
    [label]="'Country'"
    [list]="countryList()"
    [Control]="Control"
  ></app-select>
</ng-container>
