<div class="container">
  <div class="flex-col">
    <p>Step 3/3</p>
    <h3 class="title">Professional Info</h3>
    <p>Tell companies about your professional experience.</p>
  </div>
  <div class="flex-col">
    <form [formGroup]="professionalInfoForm" class="form">
      <div class="card">
        <h4 class="subtitle">Start by uploading your CV</h4>
        <ng-container *ngIf="userProfile$()!.cv === null">
          <app-input-file
            [Control]="getControl('cv')"
            accept=", .doc, .docx, .pdf"
            (controlchange)="addCV($event)"
          ></app-input-file>
        </ng-container>
        <ng-container *ngIf="userProfile$()!.cv !== null">
          <div class="flex-row">
            <p>{{ userProfile$()!.cv!.cv_name }}</p>
            <span class="example-spacer"></span>
            <button mat-stroked-button color="primary" (click)="getCV()">
              Preview
            </button>
            <button mat-stroked-button color="primary" (click)="deleteCV()">
              Delete
            </button>
          </div>
        </ng-container>
      </div>
      <div class="card">
        <h4 class="subtitle">How many years of experience do you have?</h4>
        <app-select
          label="Years of Experience"
          [Control]="getControl('years_of_experience')"
          [list]="yearsOfExperienceList"
          (change)="onYearsOfExperienceChange($event)"
        ></app-select>
      </div>
      <ng-container
        *ngIf="
          getControl('years_of_experience').value !== 'No Experience' &&
          getControl('years_of_experience').value !== null
        "
      >
        <div class="card">
          <h4 class="subtitle">What is your work experience?</h4>
          <ng-container *ngIf="userProfile$()!.work_experience!.length === 0">
            <app-work-experience-form
              [FormGroup]="getFormGroup('work_experience')"
            ></app-work-experience-form>
            <ng-container>
              <div class="option-btns">
                <button
                  class="btn"
                  mat-raised-button
                  color="primary"
                  [disabled]="getFormGroup('work_experience').invalid"
                  (click)="onWorkExperienceSave()"
                >
                  Save
                </button>
                <button
                  *ngIf="userProfile$()!.work_experience!.length !== 0"
                  class="btn"
                  mat-raised-button
                  color="primary"
                  (click)="onWorkExperienceCancel()"
                >
                  Cancel
                </button>
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="userProfile$()!.work_experience!.length !== 0">
            <app-work-experience-card
              *ngFor="let workExperience of userProfile$()!.work_experience"
              [workExperience]="workExperience"
            ></app-work-experience-card>
            <p>
              You have successfully saved
              {{ userProfile$()!.work_experience!.length }} work experience.
            </p>
          </ng-container>
        </div>
      </ng-container>
      <div class="card">
        <h4 class="subtitle">What is your current education level?</h4>
        <app-chips
          size="large"
          [Control]="getControl('education_level')"
          [chips]="educationLevelList"
          (change)="onEducationLevelChange($event)"
        ></app-chips>
        <ng-container
          *ngIf="getControl('education_level').value !== 'High School'"
        >
          <app-degree-details-form
            type="degree"
            [FormGroup]="getFormGroup('degree_details')"
          ></app-degree-details-form>
        </ng-container>
        <ng-container
          *ngIf="getControl('education_level').value === 'High School'"
        >
          <app-degree-details-form
            type="highschool"
            [FormGroup]="getFormGroup('highschool_details')"
          ></app-degree-details-form>
        </ng-container>
      </div>
      <div class="card">
        <h4 class="subtitle">
          What languages do you know? - you can add one or more
        </h4>
        <app-input-autocomplete
          label="Language"
          placeholder="e.g., Arabic, English"
          [Control]="getFormGroupControl('language', 'language_name')"
          [list]="languageList"
        ></app-input-autocomplete>
        <app-select
          label="Proficiency"
          [Control]="getFormGroupControl('language', 'proficiency')"
          [list]="proficiencyLevelList"
        ></app-select>
        <button mat-raised-button color="primary">Add</button>
      </div>
      <div class="card">
        <h4 class="subtitle">
          What skills, tools, technologies and fields of expertise do you have?
          — Add up to 30
        </h4>
        <app-chips-autocomplete
          label="Skills"
          placeholder="e.g., HTML, CSS"
          [Control]="getControl('skills')"
          [chips]="skillsList"
        ></app-chips-autocomplete>
      </div>
    </form>
  </div>
  <p>{{ professionalInfoForm.value | json }}</p>
</div>
