.button {
  display: flex;
  margin: 1rem auto;
  box-shadow: var(--box-shadow);
  border-radius: 20px;
}


.job-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
}

.job-list .job-card {
  width: calc(100% - 1rem);
}
.paginator{
  margin-top: 1rem;
    width: 100%;
    background-color: unset;
}

@media screen and (min-width: 768px) {
  .job-list .job-card {
    width: calc(50% - 2rem);
  }

}