.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 0.5rem;
}

.form-field {
  width: 180px;
}



.btn {
  margin-left: 0.5rem;
  width: 5rem;
  min-height: 3.5rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .btn {
    font-size: 0.8rem;
    width: 2.5rem;
  }

}