<h3 class="container">Select Recomended Categories</h3>
<div class="container">
  <div class="category" *ngFor=" let category of cats()" (click)="toggleCat(category)"
    [class.selected]="selectedCats().includes(category)">
    <img class="icon" [src]="category.img" [attr.data-value]="category.name">
  </div>
</div>
<div class="selectedContainer " *ngIf="selectedCats().length">
  <mat-chip mat-raised-button class="chips" *ngFor="let category of selectedCats() ">{{category.name}}</mat-chip>
</div>