.container {
  display: flex;
  margin: 0 auto;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

.selectedContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  padding: 1rem;
  background-color: #ffffff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
}

.chips {
  margin: 0 0.2rem;
}


.category {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  border: 1px solid #ffffff;
}

.icon {
  width: 100%;
  height: 100%;
}

.selected {
  border: 1px solid #3f51b5;
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .category {
    gap: 0.5rem;
    width: 60px;
    height: 60px;
  }

  .chips {
    margin: 0 0.2rem 0.2rem;

  }

  .selectedContainer {
    flex-wrap: wrap;
  }

}