<form [formGroup]="userForm" novalidate>
  <!-- Favorite fruits -->
  <mat-form-field appearance="outline" style="width: 100%;">
    <mat-chip-grid #fruitList required formControlName="fruits">
      <mat-chip-row *ngFor="let fruit of user.fruits" [removable]="removable" (removed)="remove(fruit)">
        {{fruit.name}}
        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
      </mat-chip-row>
    </mat-chip-grid>
    <input #fruitInput placeholder="Add your favorite fruits" [matChipInputFor]="fruitList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="addFruit($event)" [matAutocomplete]="fruitsAutocomplete" formControlName="fruitInput" />
    <mat-autocomplete #fruitsAutocomplete="matAutocomplete" (optionSelected)="selectFruit($event);">
      <mat-option *ngFor="let fruit of filteredFruits$ | async" [value]="fruit">
        {{fruit.name}}
      </mat-option>
    </mat-autocomplete>
    <mat-error>At least 1 fruit need to be added</mat-error>
  </mat-form-field>
</form>