<mat-form-field appearance="outline" class="full-width">
  <mat-label>{{ label }}</mat-label>
  <input
    #input
    type="text"
    [placeholder]="placeholder"
    matInput
    [formControl]="Control"
    [matAutocomplete]="auto"
    (input)="filter()"
    (focus)="filter()"
  />
  <mat-autocomplete requireSelection #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredList" [value]="option">
      {{ option }}
    </mat-option>
    <mat-option *ngIf="filteredList.length === 0" disabled
      >No options</mat-option
    >
  </mat-autocomplete>
</mat-form-field>
