<mat-toolbar color="primary">
  <a href="/home"><img class="logo" src="../../assets/logo-white.svg" alt=""></a>
  <a mat-button color="white" routerLink="/categories" class="taps">categories</a>
  <span class="example-spacer"></span>
  <a mat-button color="white" (click)="openLoginDialog()" *ngIf="username  == undefined">Login</a>
  <a mat-button color="white" routerLink="clients/signup" *ngIf="username == undefined">SignUp</a>
  <a mat-button color="white" routerLink="clients/categories" *ngIf="username != undefined">{{username}}</a>
  <a mat-button color="white" routerLink="/home" (click)="logout()" *ngIf="username != undefined">Logout</a>

</mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>