<mat-toolbar color="primary">
  <a href="/home"><img class="logo" src="../../assets/logo-white.svg" alt=""></a>
  <span class="example-spacer"></span>
  <a mat-button color="white" href="clients/categories">categories</a>
  <a mat-button color="white" href="/clients/signup" *ngIf="username == undefined">Sign Up</a>
  <a mat-button color="white" href="clients/login" *ngIf="username  == undefined">Login</a>
  <a mat-button color="white" href="clients/data" *ngIf="username != undefined">{{username}}</a>
</mat-toolbar>