<mat-toolbar color="primary">
  <a href="/home"><img class="logo" src="../../assets/logo-white.svg" alt=""></a>
  <a mat-button routerLink="/categories" class="taps">categories</a>
  <span class="example-spacer"></span>
  <a mat-button (click)="openLoginDialog()" *ngIf="username  == undefined">Login</a>
  <a mat-button routerLink="clients/signup" *ngIf="username == undefined">SignUp</a>
  <a mat-button routerLink="clients/categories" *ngIf="username != undefined">{{username}}</a>
  <a mat-button routerLink="/home" (click)="logout()" *ngIf="username != undefined">Logout</a>
  <mat-icon class="themeIcon" *ngIf="!darktheme" (click)="theme()">light_mode</mat-icon>
  <mat-icon class="themeIcon" *ngIf="darktheme" (click)="theme()">dark_mode</mat-icon>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>