<div class="container">
  <div class="flex-col">
    <p>Step 3/3</p>
    <h3 class="title">Professional Info</h3>
    <p>Tell companies about your professional experience.</p>
  </div>
  <div class="flex-col">
    <form [formGroup]="FormGroup" class="form">
      <div class="card">
        <h4 class="subtitle">Start by uploading your CV</h4>
        <app-input-file
          [Control]="getControl('cv')"
          accept=", .doc, .docx, .pdf"
        ></app-input-file>
      </div>
      <div class="card">
        <h4 class="subtitle">How many years of experience do you have?</h4>
        <app-select
          label="Years of Experience"
          [Control]="getControl('years_of_experience')"
          [list]="yearsOfExperienceList"
        ></app-select>
      </div>
      <div class="card">
        <app-input
          [Control]="getArrayControl(groupIndex, 'job_title')"
          label="Job Title"
          type="text"
        ></app-input>
        <app-input
          [Control]="getArrayControl(groupIndex, 'company')"
          label="Company/Organization"
          type="text"
        ></app-input>
        <app-chips-autocomplete
          class="chips"
          [chips]="jobCategoryList"
          [Control]="getArrayControl(groupIndex, 'job_category')"
          [placeholder]="'Add Category'"
        ></app-chips-autocomplete>
        <app-chips
          size="large"
          label="Experience Type"
          [Control]="getArrayControl(groupIndex, 'experience_type')"
          [multiple]="false"
          [chips]="experienceTypeList"
        ></app-chips>
        <app-date-picker
          [label]="'Start date'"
          [Control]="getArrayControl(groupIndex, 'start_date')"
        ></app-date-picker>
        <app-date-picker
          [label]="'End date'"
          [Control]="getArrayControl(groupIndex, 'end_date')"
        ></app-date-picker>
      </div>
    </form>
  </div>
  <p>{{ FormGroup.value | json }}</p>
</div>
