<div class="container">
  <div class="flex-col">
    <p>Step 3/3</p>
    <h3 class="title">Professional Info</h3>
    <p>Tell companies about your professional experience.</p>
  </div>
  <div class="flex-col">
    <form [formGroup]="FormGroup" class="form">
      <div class="card">
        <h4 class="subtitle">Start by uploading your CV</h4>
        <app-input-file
          [Control]="getControl('cv')"
          accept=", .doc, .docx, .pdf"
        ></app-input-file>
      </div>
      <div class="card">
        <h4 class="subtitle">How many years of experience do you have?</h4>
        <app-select
          label="Years of Experience"
          [Control]="getControl('years_of_experience')"
          [list]="yearsOfExperienceList"
          (change)="onYearsOfExperienceChange($event)"
        ></app-select>
      </div>
      <ng-container
        *ngIf="
          getControl('years_of_experience').value !== 'No Experience' &&
          getControl('years_of_experience').value !== null
        "
      >
        <h4 class="subtitle">What is your work experience?</h4>
        <div class="card">
          <app-work-experience-form
            [FormGroup]="getFormGroup('work_experience')"
          ></app-work-experience-form>
          <div class="option-btns">
            <button
              mat-raised-button
              color="primary"
              [disabled]="getFormGroup('work_experience').invalid"
            >
              Save
            </button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="getFormGroup('work_experience').invalid"
            >
              Save & Add More
            </button>
            <button mat-raised-button color="primary">Cancel</button>
          </div>
        </div>
      </ng-container>
      <div class="card">
        <h4 class="subtitle">What is your current education level?</h4>
        <app-chips
          size="large"
          [Control]="getControl('education_level')"
          [chips]="educationLevelList"
        ></app-chips>
        <ng-container>
          <app-degree-details-form [FormGroup]="getFormGroup('degree_details')">
          </app-degree-details-form>
        </ng-container>
      </div>
    </form>
  </div>
  <p>{{ FormGroup.value | json }}</p>
</div>
