<mat-stepper [linear]="false" #stepper class="stepper">
  <mat-step [stepControl]="signupForm">
    <form [formGroup]="signupForm">
      <ng-template matStepLabel>Career Interests</ng-template>
      <app-clients-setup-career-interests></app-clients-setup-career-interests>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="signinForm" >
    <ng-template matStepLabel>Genral Info</ng-template>
    <form [formGroup]="signinForm">

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step >
    <ng-template matStepLabel>Professional Info</ng-template>

    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>