<mat-stepper [linear]="false" #stepper class="stepper">
  <mat-step [stepControl]="careerInterestsForm" class="step">
    <form [formGroup]="careerInterestsForm">
      <ng-template matStepLabel>Career Interests</ng-template>
      <app-clients-setup-career-interests
        [FormGroup]="careerInterestsForm"
      ></app-clients-setup-career-interests>
      <div class="footer">
        <button
          class="btn"
          color="primary"
          mat-raised-button
          (click)="careerInterestsFormSubmit()"
        >
          Save and Continue
        </button>
      </div>
      <!-- <p>{{ careerInterestsForm.value | json }}</p> -->
    </form>
  </mat-step>
  <mat-step [stepControl]="generalInfoForm">
    <ng-template matStepLabel>Genral Info</ng-template>
    <form [formGroup]="generalInfoForm">
      <app-clients-setup-general-info
        [FormGroup]="generalInfoForm"
      ></app-clients-setup-general-info>
      <div class="footer">
        <button class="btn" color="primary" mat-button matStepperPrevious>
          Back
        </button>
        <button
          class="btn"
          color="primary"
          mat-raised-button
          (click)="generalInfoFormSubmit()"
        >
          Save and Continue
        </button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="professionalInfoForm">
    <ng-template matStepLabel>Professional Info</ng-template>
    <app-clients-setup-professional-info
      [FormGroup]="professionalInfoForm"
    ></app-clients-setup-professional-info>
    <div class="footer">
      <button class="btn" color="primary" mat-button matStepperPrevious>
        Back
      </button>
      <button class="btn" color="primary" mat-button (click)="stepper.reset()">
        Reset
      </button>
    </div>
  </mat-step>
</mat-stepper>
