.stepper {
  background: transparent;
}

:host ::ng-deep .mat-horizontal-content-container {
  padding: 0 !important;
}
.footer {
  position: relative;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}
.btn {
  margin-left: 0.5rem;
}
