<h4>Enter the number you want to find</h4>
<app-input type="number" label="number" [Control]="number"></app-input>
<h4>Enter the list range you want to search in</h4>
<app-input
  type="number"
  label="start number"
  [Control]="startNumber"
></app-input>
<app-input type="number" label="end number" [Control]="endNumber"></app-input>
<button class="btn" color="primary" mat-raised-button (click)="findNumber()">
  Find Number
</button>
<button class="btn" color="primary" mat-raised-button (click)="nextStage()">
  Next Stage
</button>
<button class="btn" color="primary" mat-raised-button (click)="prevStage()">
  Prev Stage
</button>

<app-chip
  [list]="list()"
  [left]="left()"
  [middle]="middle()"
  [right]="right()"
  [disabled]="disabled()"
></app-chip>
