<div class="container">
  <div class="form flex-col">
    <div class="full-width">
      <h4>Enter the number you want to find</h4>
      <app-input type="number" label="number" [Control]="number"></app-input>
    </div>
    <div class="flex-row full-width">
      <div class="half-width">
        <h4>Enter the ordered list start number</h4>
        <app-input
          type="number"
          label="start number"
          [Control]="startNumber"
        ></app-input>
      </div>
      <div class="half-width">
        <h4>Enter the ordered list start number</h4>
        <app-input
          type="number"
          label="end number"
          [Control]="endNumber"
        ></app-input>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="full-width">
      <button
        class="btn full-width"
        color="primary"
        mat-raised-button
        (click)="findNumber()"
      >
        Find Number
      </button>
    </div>
    <div class="full-width flex-row">
      <button
        class="btn half-width"
        color="primary"
        mat-raised-button
        (click)="nextStage()"
        [disabled]="step_number() === state().list.length - 1"
      >
        Next Stage
      </button>
      <button
        class="btn half-width"
        color="primary"
        mat-raised-button
        (click)="prevStage()"
        [disabled]="step_number() === 0"
      >
        Prev Stage
      </button>
    </div>
  </div>
  <ng-container *ngIf="state().list.length">
  <p>Current Step : {{step_number() +1}}</p>
  <p *ngIf="state().list.at(-1)!.found">Found in : {{state().list.length}} Steps</p>
  <p *ngIf="!state().list.at(-1)!.found">Not Found</p>
  <div class="form">
    <app-chip [list]="list()"></app-chip>
  </div>
  </ng-container>

</div>
