<div class="container">
  <form [formGroup]="signupForm" class="form-parent">
    <img class="logo" src="../../assets/logo-black.svg">
    <mat-form-field appearance="outline">
      <mat-label>Enter your username</mat-label>
      <input type="text" matInput formControlName="username" placeholder="username">
      <mat-icon matSuffix>person</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your email</mat-label>
      <input type="email" matInput formControlName="email" required email placeholder="Ex. pat@example.com">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required password>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <button mat-raised-button class="btn" color="primary" [disabled]="!signupForm.valid"
      (click)="signup()">Signup</button>
  </form>
</div>