.container {
  margin: 0  auto;
  width: fit-content;

}
.chips {
  height: 56px;
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }

  .chips {
    margin: 0 0.2rem 0.2rem;
  }

}
