<!-- <mat-chip-set>
  <mat-chip
    *ngFor="let chip of left"
    [highlighted]="true"
    color="primary"
    [disabled]="false"
    class="chip"
  >
    {{ chip }}
  </mat-chip>
  <mat-chip [disabled]="false" class="chip">
    {{ middle }}
  </mat-chip>
  <mat-chip
    *ngFor="let chip of right"
    [highlighted]="true"
    color="accent"
    [disabled]="false"
    class="chip"
  >
    {{ chip }}
  </mat-chip>
  <mat-chip
    *ngFor="let chip of disabled"
    [highlighted]="true"
    [disabled]="true"
    class="chip"
  >
    {{ chip }}
  </mat-chip>
</mat-chip-set> -->
<mat-chip-set>
  <mat-chip
    *ngFor="let chip of chips"
    [highlighted]="chip.highlighted"
    [color]="chip.color"
    [disabled]="chip.disabled"
    class="chip"
  >
    {{ chip.label }}
  </mat-chip>
</mat-chip-set>
