.form {
  width: 100%;
}
.label {
  width: 50%;
}
.container {
  width: 70%;
}
.footer {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
}
@media screen and (max-width: 768px) {
  .label {
    width: 100%;
  }
  .flex-row {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
}
