<div class="container">
  <div class="flex-col">
    <p>Step 2/3</p>
    <h3 class="title">General Info</h3>
    <p>Tell companies more about yourself.</p>
  </div>
  <div class="flex-col">
    <form [formGroup]="generalInfoForm" class="form">
      <div class="card">
        <h4 class="subtitle">Your Personal Info</h4>
        <div>
          <app-input
            class="input"
            [Control]="getControl('first_name')"
            label="First Name"
            type="text"
          ></app-input>
          <app-input
            [Control]="getControl('last_name')"
            label="Last Name"
            type="text"
          ></app-input>
        </div>
        <div>
          <app-date-picker
            [label]="'Enter your birthdate'"
            [Control]="getControl('birthdate')"
          ></app-date-picker>
          <app-chips
            size="xlarge"
            [chips]="genderChips"
            [Control]="getControl('gender')"
          ></app-chips>

          <app-country-state-city
            [Control]="getControl('nationality')"
          ></app-country-state-city>
        </div>
      </div>
      <div class="card">
        <h4>Your Location</h4>
        <app-country-state-city
          [FormGroup]="getFormGroup('address')"
        ></app-country-state-city>
      </div>
      <div class="card">
        <h4>Contact Information</h4>

        <app-input
          [Control]="getControl('phone')"
          label="Phone Number"
          type="number"
          icon="phone"
        ></app-input>
      </div>
      <div class="footer">
        <button class="btn" color="primary" mat-button matStepperPrevious>
          Back
        </button>
        <button
          class="btn"
          color="primary"
          mat-raised-button
          (click)="generalInfoFormSubmit()"
        >
          Save and Continue
        </button>
      </div>
    </form>
    <p>{{ generalInfoForm.value | json }}</p>
  </div>
</div>
