<div class="container">
  <div class="form flex-col">
    <div class="full-width">
      <h4>Enter the number you want to find</h4>
      <app-input
        type="number"
        label="number"
        [Control]="getControl('number')"
      ></app-input>
    </div>
    <div class="flex-row full-width">
      <div class="half-width">
        <h4>Enter the ordered list start number</h4>
        <app-input
          type="number"
          label="start number"
          [Control]="getControl('startNumber')"
        ></app-input>
      </div>
      <div class="half-width">
        <h4>Enter the ordered list start number</h4>
        <app-input
          type="number"
          label="end number"
          [Control]="getControl('endNumber')"
        ></app-input>
      </div>
    </div>
  </div>
  <div class="buttons">
    <div class="full-width">
      <button
        class="btn full-width"
        color="primary"
        mat-raised-button
        (click)="findNumber()"
      >
        Find Number
      </button>
    </div>
  </div>
  <div class="form">
    <app-chip [list]="list()"></app-chip>
  </div>
</div>
