/* You can add global styles to this file, and also import other style files */


html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(245 245 245);
  color: black;
  --box-shadow:  rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
  --bg-color: white;
  --primary-color: #3f51b5;
}

app-root,
app-tool-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body[class*="dark-theme"] {
  background-color: #212121;
  color: white;
  --primary-color: #e91e63;
  --bg-color: #303030;
  --box-shadow: none;

}



/* 
[data-theme="dark"] {

  --color-bg: #000000;
  --color-text: #fff;
}

[data-theme="light"] {
  --color-bg: #fafafa;
  --color-text: #000000;
} */