<div class="container">
  <div class="flex-pack">
    <p>Step 1/3</p>
    <h3 class="title">Career Interests</h3>
    <p>
      Providing this information enables us to recommend better opportunities to
      you.
    </p>
  </div>
  <div class="flex-pack">
    <form [formGroup]="FormGroup" class="form">
      <div class="card">
        <h4 class="subtitle">What is your current career level?</h4>
        <app-chips
          class="chips"
          [Control]="getControl('careerLevel')"
          [multiple]="false"
          [chips]="careerLevelList"
        >
        </app-chips>
      </div>
      <div class="card">
        <h4 class="subtitle">
          What type(s) of job are you open to? — You can choose more than one
          Job type
        </h4>
        <app-chips
          class="chips"
          [Control]="getControl('jobType')"
          [multiple]="true"
          [chips]="jobTypeList"
        >
        </app-chips>
      </div>
      <div class="card">
        <h4 class="subtitle">
          What job categories are you interested in? — Add 1 or more.
        </h4>
        <app-chips-autocomplete
          class="chips"
          [chips]="categoriesList"
          [Control]="getControl('categories')"
          [placeholder]="'Add Category'"
        ></app-chips-autocomplete>
      </div>
      <div class="card">
        <h4 class="subtitle">What is the minimum salary you would accept?</h4>
        <span>
          <app-input
            type="number"
            label="minimum salary"
            [Control]="getControl('minSalary')"
            icon="paid"
          ></app-input>
        </span>
        <span> EGP / Month</span>
        <mat-checkbox formControlName="hideSalary"
          >Hide my minmum salary from companys</mat-checkbox
        >
        <p>{{ FormGroup.value | json }}</p>
      </div>
    </form>
  </div>
</div>
