<div
  class="dropzone"
  [class.dragover]="dragover"
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
>
  <input
    type="file"
    #fileInput
    (change)="onFileInput($event)"
    [accept]="accept"
    hidden
  />
  <ng-container>
    <mat-icon
      *ngIf="!Control.errors || Control.errors?.['required']"
      class="icon"
      color="primary"
      >cloud_upload</mat-icon
    >
    <mat-icon
      *ngIf="Control.errors && !Control.errors?.['required']"
      class="icon"
      color="warn"
    >
      error
    </mat-icon>
  </ng-container>

  <ng-container *ngIf="Control.errors && !Control.errors?.['required']">
    <mat-error *ngFor="let error of Control.errors | keyvalue">{{
      getErrorMessage(error.key)
    }}</mat-error>
  </ng-container>
  <ng-container
    *ngTemplateOutlet="
      newFileTemplate;
      context: { control: Control, fileInput: fileInput }
    "
  ></ng-container>
</div>

<ng-template #newFileTemplate let-control="control" let-fileInput="fileInput">
  <p style="font-size: 1rem">Drag and drop or click to upload your CV</p>
  <p style="font-size: 0.75rem">
    Supported files: .docx, .doc or .pdf, with maximum size of 5MB
  </p>
  <button mat-raised-button color="primary" (click)="fileInput.click()">
    Select File
  </button>
</ng-template>
