.dropzone {
  border: 2px dashed #ccc;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
}

.dragover {
  background-color: var(--shade-color);
}

.icon {
  height: fit-content;
  width: fit-content;
  font-size: 4rem;
}

