<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title>{{ job.title }}</mat-card-title>
      <mat-card-subtitle>{{ job.company }}-{{ job.location }}</mat-card-subtitle>
      <mat-card-subtitle>{{ job.type }}</mat-card-subtitle>
      <mat-card-subtitle>{{ posted_at(job.created_at) }}</mat-card-subtitle>
    </mat-card-title-group>
  </mat-card-header>
  <mat-card-content class="text-limit">
    {{ job.skills }}
  </mat-card-content>
  <mat-card-actions>
    <a mat-stroked-button href="{{job.link}}" target="_blank">More details</a>
  </mat-card-actions>
</mat-card>