.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.btn {
  width: 100px;
  min-height: 56px;
  margin-top: 0.2rem;
}

@media screen and (max-width: 768px) {
  .container {
    flex-wrap: wrap;
  }
  .btn {
    margin: 0 0.2rem 0.2rem;
  }
}
  
