.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

.options {
  display: flex;
  margin: 1rem;
  padding: 1rem;
  background-color: var(--bg-color);
  box-shadow: var(--box-shadow);
  border-radius: 20px;
}

.btn {
  width: 5rem;
  min-height: 3.5rem;
}

@media screen and (max-width: 768px) {}