<!-- Form with search_word input field and submit button 
<h2>Enter the job u want to keep track of on wuzzuf</h2>
<mat-form-field class="example-form-field text-center">
    <mat-label>Clearable input</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
        <mat-icon>close</mat-icon>
    </button>
    <button mat-raised-button color="primary" (click)="onAddSearchWord(value)">Add</button>
</mat-form-field> -->

<!-- List of search words with remove button 
<h2>list of tracked jobs</h2>
<mat-selection-list #searchWordsList [(ngModel)]="selectedSearchWords">
    <mat-list-option *ngFor="let searchWord of searchWords" [value]="searchWord">
        {{searchWord}}
    </mat-list-option>
    <button mat-raised-button color="primary" (click)="onRemoveSearchWords(selectedSearchWords)">Remove</button>

</mat-selection-list>
-->
<!-- List of jobs -->
<button mat-raised-button color="primary" (click)="onGetJobs()">Get Jobs</button>

<mat-grid-list class="grid-list" cols="12">
    <mat-grid-tile class="grid-list" colspan="2" rowspan="{{jobs.length * 2}}"></mat-grid-tile>
    <mat-grid-tile class="grid-list" colspan="8" rowspan="1" *ngIf="jobs.length > 0">
        <h2>List of jobs</h2>
    </mat-grid-tile>
    <mat-grid-tile class="grid-list" colspan="8" rowspan="2" *ngFor="let job of jobs">
        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title-group>
                    <mat-card-title>{{ job.title }}</mat-card-title>
                    <mat-card-subtitle>{{ job.company }}-{{ job.location }}</mat-card-subtitle>
                    <mat-card-subtitle>{{ job.type }}</mat-card-subtitle>
                    <mat-card-subtitle>{{ posted_at(job.created_at) }}</mat-card-subtitle>
                </mat-card-title-group>
            </mat-card-header>
            <mat-card-content>
                {{ job.skills }}
            </mat-card-content>
            <mat-card-actions>
                <a mat-stroked-button href="{{job.link}}" target="_blank">More details</a>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile class="grid-list" colspan="2" rowspan="{{jobs.length * 2}}"></mat-grid-tile>
</mat-grid-list>